@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'antd/dist/reset.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'core/ant.css';
@import 'core/layout.css';
@import 'app.css';

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  background: #f4f7fb;
}

.dark body {
  background: #151e2b;
}

.ant-layout,
.ant-layout-content {
  min-width: 0;
}
